/**
 * Craft a delicious grilled cheese icon. It's three bars sandwiched together into one confusing icon.
 * The weight of each bar is automatically calculated based on the height.
 *
 * @author Geoff Kimball
 *
 * @param {number} $width - Width of the icon.
 * @param {number} $height - Height of the icon.
 */
@mixin grilled-cheese(
  $width: 30px,
  $height: 18px
) {
  @include icon-chef(
    $toppings: cheese,
    $width: $width,
    $height: $height,
    $weight: $height / 3,
    $bgColor: #a05f43,
    $hoverBg: #cb7854
  );
};

/**
 * An In-n-Out classic, this Double Double-inspired menu icon stands at seven lines tall.
 *
 * @author Geoff Kimball
 *
 * @param {number} $width - Width of the icon.
 * @param {number} $height - Height of the icon.
 * @param {weight} $weight - Height of each bar in the icon.
 */
@mixin double-double(
  $width: 30px,
  $height: 40px,
  $weight: 3px
) {
  @include icon-chef(
    $width: $width,
    $height: $height,
    $weight: $weight,
    $toppings: cheese meat bread cheese meat
  );
};
